# ไฟล์ .gitignore ด้านนอกสุด (ระดับเดียวกับ README.md)

# สำหรับละเว้นไฟล์ฝั่ง Backend
backend/node_modules/
backend/.env
backend/dist/
backend/coverage/

# (อนาคต) สำหรับละเว้นไฟล์ฝั่ง Flutter ของเพื่อน
mobile_app/.dart_tool/
mobile_app/.flutter-plugins
mobile_app/.flutter-plugins-dependencies
mobile_app/build/